body {
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    margin:0;
}
#toggle{
    display:none;
}
.switch{
    position:fixed;
    background-color: aqua;
    color: black;
    top:12px;
    right:15px;
    cursor:pointer;
    font-size:medium;
    padding:10px;
    border-radius:20px;
    border: rgb(239, 255, 254) 3px solid;
}
.contenido{
    background-color:black;
    color:aliceblue;
    min-height:100vh;
    padding: 40px;
}
#toggle:checked ~.contenido{
    background-color:whitesmoke;
    color:black;
}
#toggle:checked +.switch{
    background:red;
    color:white;
    border: rgb(58, 0, 0) 2px solid;
}
.saludo {
    font-family:fantasy;
    color:rgba(247, 0, 255, 0.884);
    font-size: xx-large;
    -webkit-text-stroke: 1px rgb(134, 2, 57);
}
.comienzo {
    font-family:cursive;
    color:black;
    background-color: greenyellow;
}
img {
    border-radius: 50%;
    width: 200px;
    border: black 3px solid;
}
.pie-de-pagina {
    font-size: smaller;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



