body {
    background-color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    color:aliceblue;
    font-style: inherit;
}
.saludo {
    font-family:fantasy;
    color:rgba(247, 0, 255, 0.884);
    font-size: xx-large;
}
.comienzo {
    font-family:cursive;
    color:black;
    background-color: greenyellow;
}
img {
    border-radius: 50%;
    width: 200px;
}
.pie-de-pagina {
    font-size: smaller;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



